# Dependencies
node_modules/
/npm-debug.log*

# Next.js Build Output
.next/
out/
build/
dist/

# Env & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
